{
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "plugins": [],
  "printWidth": 100,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false
}
