@keyframes fade-in-10 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes fade-out-100 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.ripple-enter {
  animation: fade-in-10 550ms ease-in-out, zoom-in 550ms ease-in-out;
}

.ripple-exit {
  animation: fade-out-100 550ms ease-in-out;
}
