@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Schibsted+Grotesk&family=Poppins&family=Source+Sans+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Source Sans Pro', 'Schibsted Grotesk', 'Lato', 'Montserrat',
    'Poppins', sans-serif !important;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

:root {
  --color-bg: #121212;
  --color-fg: #ffffff;
}

html * {
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f2f2f2;
    --color-fg: #121212;
  }
}

@-webkit-keyframes animation-f6tr5a {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    transform: scale(0.92);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.MuiTouchRipple-childPulsate {
  position: absolute;
  left: 0px;
  top: 0;
  -webkit-animation-name: animation-f6tr5a;
  animation-name: animation-f6tr5a;
  -webkit-animation-duration: 2500ms;
  animation-duration: 2500ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
